In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv('../data/processed/current_books.csv')
df2 = pd.read_csv('../data/processed/amazon_reviews_p.csv')

In [4]:
df = df2.merge(df1 , how='inner' , on = 'ISBN')[['ISBN','User_id' , 'rating' , 'review']]
df

,ISBN,User_id,rating,review
0,015201294X,A2L8RR2B6HO24F,4.0,Hello! In am reading this story for a 6th grad...
1,015201294X,A3U3RS1HYT8BK,5.0,"Okay, we can forgive Mrs.Rinaldi for giving Em..."
2,015201294X,AJ9RZKCNVA7DK,5.0,This is one of my favorite books by Anne Rinal...
3,015201294X,AAYH3NGH1TCUT,5.0,You've heard about the body snatching. Gross r...
4,015201294X,A20A1RL7J10Y1Y,5.0,"It's the end of Civil War, 1865 in Washington ..."
...,...,...,...,...
84559,B000K5SI5O,A1A1I147PQIHWE,4.0,I was given a similar book over 55 years ago. ...
84560,B000K5SI5O,A2PASDJQR83CTV,4.0,"""The Fox and the Crane"" is one of my favorite ..."
84561,B000K5SI5O,AHD101501WCN1,5.0,Aesop's fables short tales in which animals ac...
84562,9626343400,A5SK63JS3X0VU,5.0,"Poor Hiawatha! For years, this great American ..."
84563,9626343400,A13KAPH4WMMSY,5.0,Her mother read this to her when she was a lit...

In [5]:
df.to_csv('../data/processed/current_reviews.csv' , index = False)